---
import { getImage } from "astro:assets";
import Button from "./Button.astro";
import Text from "./Text.astro";
const { data } = Astro.props;
import heroBgDesktop from "../assets/bg-hero-desktop.webp";
import heroBgMobile from "../assets/bg-hero-mobile.webp";
import AluguelDayLogo from "../assets/logos/aluguel-day.svg";

const { hero } = data;

const desktopBg = await getImage({
  src: heroBgDesktop,
  width: 1440,
  format: "webp",
  quality: 100,
});

const mobileBg = await getImage({
  src: heroBgMobile,
  width: 768,
  format: "webp",
  quality: 100,
});

const {
  backgroundImage = desktopBg.src,
  mobileBackgroundImage = mobileBg.src,
} = Astro.props;
---

<section
  class="hero-section relative w-full overflow-visible rounded-b-[64px] bg-navy bg-cover bg-center bg-no-repeat"
  style={`--hero-bg-desktop: url("${backgroundImage}"); --hero-bg-mobile: url("${mobileBackgroundImage}");`}
>
  <div
    class="container flex min-h-192 max-w-140 flex-col items-center gap-7 pt-12 text-center lg:min-h-180 lg:justify-center lg:pt-0"
  >
    <img
      src={AluguelDayLogo.src}
      alt="Aluguel Day Logo"
      class="h-11 w-auto md:h-16"
    />

    <Text
      as="p"
      variant="h4"
      color="white"
      align="center"
      class="w-fit max-w-full rounded-button border-b border-white px-5 py-2"
    >
      {hero.preSale}
    </Text>
    <Text as="h1" variant="h1" color="white" align="center">
      {hero.title}
    </Text>
    <Text
      as="p"
      variant="body"
      color="white"
      align="center"
      class="max-w-2xs lg:max-w-full"
    >
      {hero.description}
    </Text>
    <Button>{hero.cta}</Button>
  </div>

  <div
    class="absolute
    left-1/2
    bottom-0
    z-20
    -translate-x-1/2
    translate-y-1/2"
  >
    <div
      class="whitespace-nowrap
      rounded-xl
      bg-blue
      px-8
      py-3
      text-base
      text-white
      shadow-lg"
    >
      {hero.preSale}
    </div>
  </div>
</section>

<style>
  .hero-section {
    background-image: var(--hero-bg-mobile);
  }

  @media (min-width: 1024px) {
    .hero-section {
      background-image: var(--hero-bg-desktop);
    }
  }
</style>
