---
import Button from "./Button.astro";
import Text from "./Text.astro";

import data from "../data/data.json";
import { routes } from "../data/routes";

import backgroundImage from "../assets/bg-blue.webp";
import travelImage from "../assets/banner_destinos.webp";

import phoneIcon from "../assets/vectors/phone.svg";
import emailIcon from "../assets/vectors/email.svg";

const { travel } = data;

const icons = {
  phone: phoneIcon,
  email: emailIcon,
};

const contactRoutes = {
  phone: routes.external.travelWhatsApp,
  email: routes.external.travelEmail,
};
---

<section
  class="py-12 lg:py-20 overflow-hidden"
  style={`
    background-image: url(${backgroundImage.src});
    background-size: cover;
    background-position: bottom;
  `}
>
  <div
    class="mx-auto
      grid
      max-w-262.5
      items-center
      gap-10
      px-6
      md:grid-cols-2
      
      lg:grid-cols-[320px_462px]
      lg:justify-center
      lg:gap-16"
  >
    <div class="flex
        flex-col
        items-start
        gap-6">
      <Text as="h2" variant="h2" color="lime">
        {travel.title}
      </Text>

      <Text color="white" class="max-w-75
          text-white/85">
        {travel.description}
      </Text>

      <div class="flex flex-col gap-3">
        {
          travel.contacts.map((contact) => {
            const icon = icons[contact.type as keyof typeof icons];

            return (
              <a
                href={contactRoutes[contact.type as keyof typeof contactRoutes]}
                target="_blank"
                rel="noopener noreferrer"
                class="
                  flex
                  items-center
                  gap-3
                  text-white
                "
              >
                <img src={icon.src} width="20" height="20" alt="" />

                <span>{contact.text}</span>
              </a>
            );
          })
        }
      </div>

      <Button href={routes.external.travelWhatsApp} target="_blank">
        {travel.cta}
      </Button>
    </div>

    <img
      src={travelImage.src}
      width={462}
      height={370}
      alt="Imagem de destinos de viagem"
      class="w-full
        max-w-115.5
        justify-self-center"
    />
  </div>
</section>
